#main-header {
  text-align: center;
  font-size: 1.25em;
  margin-top: 1.25em;
  font-family: "Glegoo", serif; }

h5 {
  text-align: center; }

#change2 {
  display: none;
  font-size: 50%;
  position: relative;
  top: 5px;
  transition: color 2s; }

#gameBoard {
  max-width: 100%; }

#gameObjects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 12.5em;
  margin: auto; }
  #gameObjects .object {
    max-width: 30%; }

#boardAfter {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  min-height: 12.5em;
  margin: 0 auto; }
  #boardAfter img {
    max-width: 100%; }

#conclusion {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  margin: 0 1.25em; }
  #conclusion #win {
    color: #45B649;
    text-shadow: 0.125em 0.125em 0.25em #43EF64; }
  #conclusion #lose {
    color: #FF0000;
    text-shadow: 0.125em 0.125em 0.25em #ce441a; }
  #conclusion #draw {
    text-shadow: 0.125em 0.125em 0.25em #2e2d2d; }

.fadein {
  animation: fadein 0.67s ease; }

.fadeout {
  animation: fadeout 0.7s ease forwards; }

.nofade {
  animation: none; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.finished {
  display: block; }

.unfinished {
  display: none; }

.note {
  display: none; }

#scoreBoard {
  text-align: center;
  font-size: 1em;
  font-style: italic; }

#buttons {
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 2.5em; }

.btn:hover {
  background-color: #706d6d; }

.btn {
  outline: none;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 70%;
  box-shadow: 5px 0px 0px black; }
  .btn .fa-hand-paper {
    transform: rotate(-90deg);
    position: relative;
    left: -1px;
    top: 0; }
  .btn .fa-hand-scissors {
    position: relative;
    left: -1px;
    top: 0; }
  .btn .fa-fist-raised {
    transform: rotate(-90deg); }

#btn-paper {
  transform: rotateX(180deg);
  margin: 0 2%; }

#btn-rock {
  padding: 10px 12px 10px 12px; }

.footer-header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9375em;
  margin-top: 0.9375em;
  margin-bottom: 1.875em; }

.footer-stuff {
  display: flex;
  flex-direction: column;
  align-items: center; }

#signature {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 0.75em;
  font-style: italic;
  margin-top: 2.5em; }

form {
  min-width: 20%;
  border: 0.0625em solid black;
  border-radius: 0.5em;
  padding: 1.25em;
  box-shadow: 0em 0em 0.75em black; }

#email_err {
  display: block;
  text-align: center; }

input[type=text] {
  display: block;
  width: 100%;
  margin: 0.625em auto;
  outline: none;
  border-radius: 0.625em;
  padding: 0.3125em;
  border: 2px solid #7041ff;
  background-color: #ece9e9; }

textarea[name=message] {
  display: block;
  width: 100%;
  height: 12.5em;
  margin: 0.3125em 0;
  resize: none;
  outline: none;
  border-radius: 0.625em;
  padding: 0.3125em;
  border: 2px solid #7041ff;
  background-color: #ece9e9; }

input[type=text]:focus,
textarea[name=message]:focus {
  background: #7b4397;
  color: #fff; }

::placeholder {
  color: #D38312;
  text-align: center; }

#btn-submit {
  display: block;
  width: 50%;
  margin: 0.625em auto;
  border-radius: 0.625em;
  padding: 0.3125em;
  outline: none;
  border: 2px solid #7041ff;
  background-color: #ece9e9; }

@media only screen and (max-width: 300px) {
  #conclusion {
    font-size: 0.75em; }
  #main-header {
    margin-bottom: 0.5em; } }

@media only screen and (max-width: 500px) {
  #buttons {
    margin-top: 0.5em; }
  #scoreBoard {
    font-size: 0.875em; } }

@media only screen and (min-width: 500px) {
  #conclusion {
    font-size: 1.125em; } }

@media only screen and (min-width: 650px) {
  #main-header {
    font-size: 1.5625em; }
  #conclusion {
    font-size: 1.25em; }
  .btn {
    font-size: 90%; } }

@media only screen and (min-width: 815px) {
  #boardAfter {
    height: 14.375em; } }

@media only screen and (min-width: 950px) {
  #main-header {
    font-size: 1.875em; }
  img {
    max-width: 85%; }
  .btn {
    font-size: 100%; }
  .footer-header {
    font-size: 1.125em; }
  #boardAfter {
    height: 15.625em; } }

@media only screen and (min-width: 1060px) {
  #boardAfter {
    height: 16.5625em; } }

@media only screen and (min-width: 1152px) {
  #boardAfter {
    height: 18em; } }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  max-width: 100%;
  height: auto;
  font-size: 100%;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7ff00, #db36a4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.flex0 {
  display: flex;
  flex-direction: column; }
/*# sourceMappingURL=style.css.map */