@media only screen and (max-width: 300px) {
    #conclusion {font-size: em(12);}
    #main-header {margin-bottom: 0.5em;}
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    #main-header {margin-bottom: 1.5em;}
}

@media only screen and (max-width: 500px) {
    #conclusion {font-size: em(18);}
    #buttons {margin-top: 0.5em;}
}

@media only screen and (min-width: 500px) {
    #conclusion {font-size: em(18);}
}

@media only screen and (min-width: 650px) {
    #main-header {font-size: em(25);}
    #conclusion {font-size: em(20);}
    .btn {font-size: 90%;}
}

@media only screen and (min-width: 815px) {
    #boardAfter {height: em(230);}
}

@media only screen and (min-width: 950px) {
    #main-header {font-size: em(30);}
    img {max-width: 85%;}
    .btn {font-size: 100%;}
    .footer-header {font-size: em(18);}
    #boardAfter {height: em(250);}
}

@media only screen and (min-width: 1060px) {
    #boardAfter {height: em(265);}
}

@media only screen and (min-width: 1152px) {
    #boardAfter {height: em(288);}
}